@import '../shared-components/config';

.sync-flyout {

    &__input {
        display: block;
        border: none;
        border-bottom: 2px solid $argo-color-gray-3;
        border-radius: 0;
        width: 100%;
        background: transparent;
        color: $argo-color-gray-8;
        outline: none;
        padding: 8px 0;
        font-size: 15px;
        transition: border .2s;

        &:focus {
            border-bottom: 2px solid $argo-color-teal-5;
        }
    }

    label {
        font-size: 13px;
        color: $argo-color-gray-6;
    }

    &__checkbox-row {
        display: flex;
        flex-direction: row;
        gap: 28px;
        margin-top: 18px;
        align-items: center;
    }

    &__checkbox-row > div {
        display: flex;
        align-items: center;
        gap: 6px;
    }

} 